<div class="scores">
<h2 class='win'>
  Your highest Score: <%= @user_score.score %>
</h2>
</div>

<table>
  <tr>
  <th>NAME</th>
  <th>Highest score</th>
  <th></th>
</tr>

<% @scores.each do |score| %>
  <tr class = '<%= 'highlight' if score.user == current_user %>'>
    <td><%= link_to score.user.name, score.user %></td>
    <td class='win'><%= score.score %></td>
    <td class='win'><%= time_ago_in_words score.updated_at %> ago</td>
  </tr>
  
<% end %>
</table>
