<p>
  <%= game.name %><br>
  <%= game.users.map(&:name).join(" vs ") %>
  <% if game.capacity? && !game.playing?(current_user.id) %>
  <%= form_for(game) do |f| %>
    <%= f.hidden_field :id %>
    <%= f.fields_for :players do |ff| %>
      <%= ff.hidden_field :user_id %>
      <%= ff.hidden_field :symbol %>
    <% end %>
    <%= f.submit "Join" %>
  <% end %>  
  <% end %>

  <% if game.completed? %>
    <br>Completed. <%= game.result %>
  <% elsif game.users_turn?(current_user) %>
    <br>Your turn to move.
  <% elsif game.capacity? %>
    <br>Waiting for player to join.
  <% else %>
    <br>Wating for <%= game.current_player.user.name %>.
  <% end %>

   <br><%= link_to 'View game', play_path(game.id) %>
</p>