<div class="game">
<p>
  <%= game.name %><br>
  <%= game.users.map(&:name).join(" vs ") %>
  
  <% if game.completed? %>
    <br>Completed. <%= game.result %>
  <% elsif game.users_turn?(current_user) %>
    <br>Your turn to move.
  <% elsif game.capacity? %>
    <br>Waiting for player to join.
  <% else %>
    <br>Waiting for <%= game.current_player.user.name %>.
  <% end %>

   <br><%= link_to 'View game', game_path(game.id) unless game.capacity? %>
</p>
</div>