  <% if join_game.capacity? && !join_game.playing?(current_user.id) %>
    <%= form_for(Player.new) do |f| %>
      <%= f.hidden_field :game_id, {value: join_game.id} %>
      <%= f.hidden_field :symbol, {value: 'O'} %>
      <%= f.hidden_field :user_id, {value: current_user.id} %> 
      <%= f.submit "Join" %>
    <% end %>  
  <% end %>
<p>
  <%= join_game.name %><br>
  <%= join_game.users.map(&:name).join(" vs ") %>
</p>
