- if current_user
  %nav.main
    %ul
      %li= render 'games_nav'
      %li
        %span.title TIC TAC TOE
      %li= link_to 'Home', games_path
      %li= link_to "Start a game", games_path, method: :post
      %li= link_to "Play Computer", computer_game_path, method: :post
      %li= link_to 'Scoreboard', scoreboard_path

.clearfix