<div class='row'>

  <% unless @mygames.any? && @games_to_join.any? %>
    <div class="game_list">
    <p>You have no games in progress and there are no games to join. <%= link_to "Start a new game?", new_game_path %> or <%= link_to "Play the computer", computer_game_path, method: :post %></p>
    </div>
  <% end %>

  <% if @mygames.any? %>
  <div class='game_list span4'>
  <h3>Current Games</h3>
  <%= render(@mygames) %>
  <%= paginate @mygames, param_name: :current_game_page %>
  </div>
  <% end %>

  <% if @games_to_join.any? %>
  <div class='game_list span4'>
    <h3>Available games</h3>
    <%= render partial: 'join_game', collection: @games_to_join %>
    <%= paginate @games_to_join, param_name: :join_games_page %>
  </div>
  <% end %>

  <% if @completed.any? %>
  <div class='game_list span4'>
    <h3>Completed Games</h3>
    <%= render(@completed) if @completed %>
    <%= paginate @completed %>
  </div>
  <% end %>
</div>