  <div class='game_status'>
    <% if @game.completed? %>
      <%= @game.result %>
    <% else %>
      <p><%= @game.current_player.user.name %>'s turn to move</p>
    <% end %>
  </div>

  <div class="board">
  <% @game.game_state.each_index do |i| %>
    <div class="grid_item grid_num_<%= i %> <%= 'active' if winning_square?(@game, i) %>">
      <% if @game.game_state[i].nil? && can?(:update, @game) %>
        
          <%= form_for(@game) do |f| %>
            <%= f.hidden_field :grid_location, { value: i } %>
            <%= f.submit "#{@game.current_player.symbol}", class: 'grid_button' %>
          <% end %>

      <% else %>
        <%= @game.game_state[i] %>
      <% end %>
    </div>

  <% end %>
  </div>
  <div class='legend'>
    <% @game.players.each do |player| %>
      <p><%= player.symbol %> <%= player.user.name %></p>
    <% end %>
    <% if @game.computer_is_playing? && @game.completed? %>
    <%= button_to "Play Again", computer_game_path, method: :post %>
    <% end %>
  </div>
