<h1 class='logo'><%= link_to 'MOKU', root_path %></h1>
<div class="user"> 
    <% if current_user %>
    logged in as <%= link_to current_user.name, current_user %> | <%= link_to 'Log out', logout_path %>
    <% else %>
    <%= link_to 'Log in', login_path %> | <%= link_to "Sign up", signup_path %>
    <% end %>
</div>
<div class="clearfix"></div>
    <% if current_user %>
<nav class='main'>
  <ul>

    <li><%= link_to 'Home', games_path %></li>
    <li><%= link_to "Start a game", games_path, method: :post %></li>
    <li><%= link_to "Play Computer", computer_game_path, method: :post %></li>
    <li><%= link_to 'Scoreboard', scoreboard_path(current_user) %></li>
    
  </ul>
</nav>
<% end %>
<div class="clearfix"></div>