<h1 class='logo'>Game app</h1>
<div class="user"> 
    <% if current_user %>
    logged in as <%= current_user.name %> | <%= link_to 'Log out', logout_path %>
    <% else %>
    <%= link_to 'Log in', login_path %>
    <% end %>
</div>
<nav>
  <ul>
    <li><%= link_to 'Home', home_index_path %></li>
    <% if current_user %>
    <li><%= create_link Game.new %></li>
    <li><%= link_to 'Scoreboard', scoreboard_path %></li>
    <% end %>
  </ul>
</nav>